@charset "UTF-8";

a {
	text-decoration: none;
	color: inherit;
}

.float-none {
	float: none;
}

.display-none {
	display: none;
}

.pointer {
	cursor: pointer;
}

.dragover {
	border: 0.5rem solid grey;
	border-radius: 4px;
}

span.sliderValue {
	margin: 1rem;
}

#add {
	margin: 1rem;
}

.caption {
	margin-top: 1rem;
}

p.percentage {
	font-size: 2rem;
}

footer {
	padding: 4rem;
	font-weight: lighter;
	color: white;
	background-color: #191919;
}
