@charset "UTF-8";

a {
	text-decoration: none;
	color: inherit;
}

.float-none {
	float: none;
}

#add-image {
	margin: 1rem;
}

#control {
	padding: 2rem;
}

.pointer {
	cursor: pointer;
}

.dragover {
	border: 0.5rem solid grey;
}

span.sliderValue {
	margin: 1rem;
}

#result {
	display: none;
}

footer {
	padding: 4rem;
	font-weight: lighter;
	color: white;
	background-color: #191919;
}
