doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
		meta(name='description' content='Similarity')
		meta(name='renderer' content='webkit')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title Similarity
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='icon' href='/img/favicon.ico')

	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand Similarity

		.container
			.jumbotron
				h2 DCT coefficient distance based image similarity
				ul
					li Resize and greyscale image, then take the first few coefficients as the image hash
					li Similarity are calculated based on distance, with exponent normalization
					li The following parameters influence both accuracy and speed of algorithm performance
					li <strong>Scale:</strong> Scale of the image to perform DCT transform
					li <strong>Length:</strong> Length of DCT coefficients used

			.row
				.col-sm-6.float-none.center-block.dropable#target
					.thumbnail.text-center
						img.pointer
						.caption
							p
								label Scale:
								span.sliderValue#scaleValue 64
								input#scale(data-slider-min='1' data-slider-max='512' data-slider-step='1' data-slider-value='64')
							p
								label Length:
								span.sliderValue#lengthValue 64
								input#length(data-slider-min='1' data-slider-max='512' data-slider-step='1' data-slider-value='64')

							input.center-block(type='file' name='target')
							h3.text-center Click to upload your target image

			.text-center.display-none#add
				button.btn.btn-success
					i.glyphicon.glyphicon-plus
					span &nbsp;Add comparison
				input.hidden(type='file' name='case' multiple)

			.list-group.display-none.dropable#case
				.list-group-item.row#header
					.col-md-1
					.col-xs-6.col-md-4.text-center
						h4 Image
					.col-md-2
					.col-xs-6.col-md-4.text-center
						h4 Similarity
					.col-md-1

		footer.text-center
			p Design and code by &nbsp;
				a(href='mailto:PillowSky.qq.com') PillowSky@qq.com
			p Powered by Node.js / Express / Jimp

		script(type='text/x-tmpl' id='tmpl-row')
			.list-group-item.row(id='{%=o.id%}')
				.col-md-1
				.col-xs-6.col-md-4.image
					img.img-responsive(src='{%=o.src%}')
					.caption.text-center
						.progress
							.progress-bar.progress-bar-primary(role='progressbar' style='width: 0%')
				.col-md-2
				.col-xs-6.col-md-4.similarity
					p.text-center.percentage {%=o.similarity%}
					.progress
						.progress-bar.progress-bar-success(role='progressbar' style='width: 0%')
				.col-md-1

		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
		script(src='/components/blueimp-tmpl/js/tmpl.min.js')
		script(src='/js/script.js')
